{{/* The line below tells Intellij/GoLand to enable the autocompletion based *gen.Type type. */}}
{{/* gotype: entgo.io/ent/entc/gen.Type */}}

{{/* A template for adding the Modify method to the query builder. */}}
{{ define "dialect/sql/query/additional/modify" }}
    {{ $builder := pascal $.Scope.Builder }}
    func (q *{{ $builder }}) Modify(modifier func(*sql.Selector)) *{{ $builder }} {
        q.modifiers = append(q.modifiers, modifier)
        return q
    }
{{ end }}

{{- define "dialect/sql/query/fields/additional/modify" }}
    modifiers []func(s *sql.Selector)
{{- end }}

{{ define "dialect/sql/query/selector/modify" }}
    for _, m := range q.modifiers {
        m(selector)
    }
{{- end -}}

{{ define "dialect/sql/query/spec/modify" }}
    if len(q.modifiers) > 0 {
        _spec.Modifiers = q.modifiers
    }
{{- end -}}