{{/* A template for adding additional fields to specific types. */}}
{{ define "meta/additional/enums" }}
	{{- range $f := $.EnumFields }}
		{{- if not $f.HasGoType }}
			{{ $enum := trimPackage $f.Type.String $.Package }}
			{{ $receiver := receiver $f.BuilderField }}

			// Ptr returns a new pointer to the enum value.
			func ({{ $receiver }} {{ $enum }}) Ptr() *{{ $enum }} {
				return &{{ $receiver }}
			}
		{{- end }}
	{{- end }}
{{ end }}


{{ define "meta/additional/random" }}
	// comment from another template.
{{ end }}
