{{/* A template for adding additional where clauses to specific types. */}}
{{ define "where/additional/strings" }}
	{{ range $f := $.Fields }}
		{{- if $f.IsString }}
			{{ $func := $f.StructField }}
			// {{ $func }} applies the Regex predicate on the {{ quote $f.Name }} field.
			func {{ $func }}Regex(pattern string) predicate.{{ $.Name }} {
			return predicate.{{ $.Name }}(func(s *sql.Selector) {
				s.Where(sql.P(func(b *sql.Builder) {
					b.Ident(Field{{ $f.StructField}})
					b.Pad()
					b.WriteString("REGEX")
					b.Pad()
					b.WriteString(b.Quote(pattern))
				}))
			})
			}
		{{- end -}}
	{{ end }}
{{ end }}
